﻿@model datos.inventario.ING_PRODUCTO

@{
    ViewBag.Title = "EditarProducto";
}

<h2>EditarProducto</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ING_PRODUCTO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ING_PRODUCTO_ID)

        @Html.HiddenFor(model => model.ING_PRODUCTO_CODIGO)

        <div class="form-group">
            @Html.LabelFor(model => model.ING_CATEGORIA_ID, "ING_CATEGORIA_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("ING_CATEGORIA_ID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.ING_CATEGORIA_ID, ViewBag.categoria as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ING_CATEGORIA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ING_PROVEEDOR_ID, "ING_PROVEEDOR_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("ING_PROVEEDOR_ID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.ING_PROVEEDOR_ID, ViewBag.proveedor as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ING_PROVEEDOR_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ING_MARCA_ID, "ING_MARCA_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("ING_MARCA_ID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.ING_MARCA_ID, ViewBag.marca as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ING_MARCA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ING_MEDIDA_ID, "ING_MEDIDA_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("ING_MEDIDA_ID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.ING_MEDIDA_ID, ViewBag.medida as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ING_MEDIDA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ING_DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ING_DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ING_DESCRIPCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ING_CANTIDAD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ING_CANTIDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ING_CANTIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ING_PRECIO_UNITARIO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ING_PRECIO_UNITARIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ING_PRECIO_UNITARIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Producto")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
