﻿@model IEnumerable<datos.inventario.ING_PRODUCTO>

@{
    ViewBag.Title = "producto";
}

<h2>producto</h2>

<p>
    @Html.ActionLink("Create New", "CrearProducto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ING_CATEGORIA.ING_DESCRIPCION_CATEGORIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ING_MARCA.ING_DETALLE_MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ING_MEDIDA.ING_DETALLE_MEDIDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ING_PROVEEDOR.ING_RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ING_DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ING_CANTIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ING_PRECIO_UNITARIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ING_CATEGORIA.ING_DESCRIPCION_CATEGORIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ING_MARCA.ING_DETALLE_MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ING_MEDIDA.ING_DETALLE_MEDIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ING_PROVEEDOR.ING_RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ING_DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ING_CANTIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ING_PRECIO_UNITARIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditarProducto", new { id=item.ING_PRODUCTO_ID }) @*|
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
